<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protected Content</title>
</head>
<body style="background-image:url(4800aAA.jpg) ;">
    <p>SMS</p>
    <a href="/static/SmsReciever.java">Java</a>
    <a href="/static/sms.java">XML</a>
    <br>
    <p>SQLITE</p>
    <a href="/static/sqlite_xml.java">XML</a>
    <a href="/static/DatabaseHelper.java">DatabaseHelper</a>
    <a href="/static/ContactManager.java">ContactManager</a>
    <a href="/static/sqlite_main.java">Main</a>
    <a href="/static/singel_sqlite.java">Single</a>
    <br>
    <p>Multimedia</p>
    <a href="/static/mp3.java">Audio</a>
    <a href="/static/MainActivity.java">Video</a>
    <a href="/static/videoandcam.java">JAva(videoandcam)</a>
    <a href="/static/videoandcamxml.java">XML(videoandcam)</a>
    <br>
    <p>ZIPs</p>
    <br>
    <a href="https://drive.google.com/drive/folders/1aQ7l_yfcY-esSY8RrcuhfbB1_U02zu_j">drive</a>
    <br>
    <a href="/static/AnimationActivity.java">Animation</a>
    <a href="/static/DrawingActivity.java">Drawing</a>
    <a href="/static/Help.java">SMS full</a>
    <a href="/static/manifesta.java">Manifests</a>
</body>
</html>
