<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protected Content</title>
</head>
<body>
    <p>SMS</p>
    <a href="/static/SmsReciever.java">Java</a>
    <a href="/static/sms.java">XML</a>
    <br>
    <p>SQLITE</p>
    <a href="/static/sqlite_xml.java">XML</a>
    <a href="/static/DatabaseHelper.java">DatabaseHelper</a>
    <a href="/static/ContactManager.java">ContactManager</a>
    <a href="/static/sqlite_main.java">Main</a>
    <br>
    <p>Multimedia</p>
    <a href="/static/mp3.java">Audio</a>
    <a href="/static/MainActivity.java"></a>
    <br>
</body>
</html>
