<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protected Content</title>
</head>
<body>
    <p>SMS</p>
    <a href="/static/SmsReciever.py">Java</a>
    <a href="/static/sms.py">XML</a>
    <br>
    <p>SQLITE</p>
    <a href="/static/sqlite_xml.py">XML</a>
    <a href="/static/DatabaseHelper.py">DatabaseHelper</a>
    <a href="/static/ContactManager.py">ContactManager</a>
    <a href="/static/sqlite_main.py">Main</a>
    <br>
    <p>Multimedia</p>
    <a href="/static/mp3.java">Main</a>
    <br>
</body>
</html>
